*{
    margin: 0;
    padding: 0;
    font-family: Roboto,sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #0f172a;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
    max-width: 360px;
    padding: 2rem 1rem 0 1rem;
    background-color: #1e293b;
    border-radius: 10px;
}

.container h2{
    text-align: center;
    margin-bottom: 5px;
    color: #94a3b8;
    font-size: 1.8rem;
}

.converter-form{
    padding: 10px;
}

.form-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px;
}

.form-group label{
    color: #94a3b8;
    margin-bottom: 8px;
    font-size: 15px;
}

.form-group input,.form-group select{
    padding: 0.78rem;
    border-radius: 6px;
    border:1px solid #475569;
    background-color:#313c4d;
    color:#e2e8f0;

}

.form-group input::placeholder{
    color:#94a3b8;
    font-size: 14px;
}

select:focus,
input:focus{
    outline: none;
    appearance: none;
    border: 2px solid #3b82f6;
}

.convert-btn{
    width: 100%;
    padding: 0.9rem;
    border-radius: 6px;
    border: none;
    background-color: #3b82f6;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px;
    font-weight: 600;
    color:#e2e8f0;

}

.convert-btn:hover{
    background-color: #2563eb;
    transform: translateY(-2px);
}

.result{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 4px;
    color: white;
    background-color: #1e293b;
    padding: 0.3rem;
}

.hidden{
    display: none;
}