*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body{
    background: linear-gradient(135deg, #83a8df , #c3cfe2);
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container{
    background-color: #ffffff;
    padding: 25px 25px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    width:60%;
    padding-bottom: 30px;
}
.container h1{
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
    position: relative;

}
.container h1::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 4px;
    background-color: #667eea;
    border-radius: 2px;
}

#generator-btn{
   background: linear-gradient(135deg, #b3aef0 , #8830ec);
   padding: 13px 13px 13px 13px;
   border-radius: 20px;
   font-size: 13px;
   font-weight: bold;
   border: none;
   color: white;
   margin-bottom: 25px;
   cursor:pointer;
}
#generator-btn:hover{
    transform: translateY(-3px);
}
#generator-btn:active{
    transform: translateY(0px);
}
.palette-container{
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}
.color{
    height: 110px;
    cursor: pointer;
}

.color-box{
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}
.color-box:hover{
    transform: translateY(-4px);
}
.color-info{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-self:center;
    padding: 0.7rem;
}

.hex-value{
    font-weight: bold;
    letter-spacing: 0.5px;
}

.copy-msg{
    cursor: pointer;
    color:#64748b;
    transition: color 0.2s;
}

.copy-msg:hover{
    color:#667eea;
}

@media (max-width: 768px){
    .palette-container{
        grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    }
}