*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background:#f7f6f6;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color :  white;
    padding : 15px;
    border-radius:15px;
    min-height: 200px;
}

.container h2{
    text-align: center;
    margin-bottom: 15px;
    color: #20cf8f;
    font-size: 30px;
}

.container  input{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding: 8px;
    border: 2px solid #ebebeb;
    border-radius: 5px;
    letter-spacing: 0.05rem;
}

.container input:focus{
    outline: none;
}
.container  input::placeholder{
    padding:3px;
}

.add-bookmark-btn{
    width: 100%;
    height: 40px;
    background-color:#20cc8d;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 550;
    margin-bottom: 17px;
    cursor: pointer;
}

.add-bookmark-btn:hover{
    transform: translateY(-2px);
}

.add-bookmark-btn:active{
    transform: translateY(0px);
}

.bookmark-saver-list{
    height: 100px;
    overflow-y:auto ;
    padding-right: 5px;
    margin-bottom: 10px;
}

.bookmark-saver-list::-webkit-scrollbar{
    width: 6px;  
}
.bookmark-saver-list::-webkit-scrollbar-thumb{
    visibility:hidden;
    border: 10px;
    border-radius: 5px;
}
.bookmark-saver-list::-webkit-scrollbar-thumb:hover{
    visibility:visible;
    background: #6b6b6b;
    border-radius: 5px;
}

.list-item{
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    width: 100%;
    height: 45px;
    padding: 12px;
    align-items: center;
    border: 2px solid #ebebeb;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.05rem;
    margin-bottom: 5px;
}

.list-item:hover{
    transform: translateY(-1px);
}

.list-item:active{
    transform: translateY(0px);
}

.list-item a{
    color: #20cc8d;
    text-decoration: none;
    transition: 0.2s;
}
.list-item a:hover{
    text-decoration: underline 2px #20cc8d;
}

.remove-btn{
    padding: 6px 8px 6px 8px;
    color: white;
    font-weight: 600;
    background-color: rgb(243, 23, 23);
    border: none;
    border-radius: 5px;
    cursor: pointer;
} 

.remove-btn:hover{
    transform: translateY(-1px);
}

