*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f6f6;
}

.container{
    background-color:white;
    padding: 20px;
    width: 30%;
    min-height: 63vh;
    border-radius: 14px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1) ;
}

.container h2{
    text-align: center;
    margin-bottom: 10px;
    color: #444;
}

.form-group{
    padding: 4px;
}
.form-group input{
    margin-top: 5px;
    width: 100%;
    height: 35px;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    padding: 5px;
}

.form-group input:focus{
    outline: none;
}

.form-group.error input{
    border-color:red;
}
.form-group.success input{
    border-color: green;
}
.form-group small{
    color: red;
}

.form-group label{
    color: #777;
    font-size: 16px;
    font-weight: 500;
}

.register-btn{
    margin-top: 12px;
    width: 100%;
    height: 35px;
    background-color:  #38A0DB;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

