*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    min-height: auto;
    background-color: rgb(28, 28, 28);
}

.container{
    width: 77%;
    padding: 20px;
}

#header-info{
    text-align: center;
    margin-bottom: 5px;
    color: #22c55e;
    font-size: 2rem;
}

.subtitle{
    text-align: center;
    font-size: 15px;
    color: #b5b5b5;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:5px;
    margin-top: 10px;
    padding: 10px;
}

.cards{
    display: flex;
    flex-direction: column;
    width:95%;
    background-color:rgb(42, 42, 42);
    border-radius: 8px;
    margin: 5px;
    transition: all 0.2s ease;
}

.cards:hover{
    border: 2px solid #22c55e;
    transform: translateY(-5px);
}

.top-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 16rem;
    border-bottom: 2px solid rgb(49, 49, 49);
    position: relative;
}

.plan-type{
    content: "";
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: #22c55e;
    font-size: 13px;
    font-weight: 700;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.top-section p{
    margin-top: 5px;
    font-size: 14px;
    color: #b5b5b5;
    margin-bottom: 10px;
}

.icon-wrap{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(43, 243, 103, 0.17);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 15px;
}

.icon-wrap i{
    color: #22c55e;
    font-size: 28px;
}

.plan-name{
    font-weight: 700;
    margin-bottom: 1.2rem;
    color: white;
}

.price{
    display: flex;
    align-items: flex-end;
    gap:3px;
    margin-bottom: 1.3rem;
    padding-left: 1.5rem;
}

.currency{
    font-size:16px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #22c55e;
}

.amount{
    font-size: 3rem;
    font-weight: 800;
    color: #22c55e;
}
.duration{
    color:#b5b5b5;
    font-size: 12px;
}

.bottom-section{
    height: 16rem;
    margin-bottom: 15px;
    padding: 10px;
}

.specification{
    margin-top: 5px;
    list-style:none;  
}

.specification li{
    padding: 15px 10px 10px 11px;
    font-size: 14px;
}

.checked{
    color: white;
}
.unavailable{
    color: #b5b5b5;
}

.fa-check{
    color: #22c55e;
}

.fa-xmark{
    color: red;
}


.card-footer{
    width: 100%;
    padding: 13px;
}

.subscribe-btn{
    width: 100%;
    margin-bottom: 5px;
    height: 2.5rem;
    border-radius: 8px;
    border: 2px solid rgb(100, 100, 100);
    background: rgb(75, 75, 75);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease;
}
.subscribe-btn:hover{
    background-color: #22c55e;
    border: 4px solid #59d683;
    color: black;
    transform: translateY(-3px);
}

.subscribe-btn:active{
    transform: translateY(0);
}


.footer{
    width: 100%;
    max-width: 550px;
    margin: 40px auto 0;
    background-color: rgb(42,42,42);
    border-radius: 12px;
    position: relative;
    padding: 30px 50px;
    text-align: center;
}

.footer i{
    content: "";
    position: absolute;
    top: 17px;
    left:16px;
    font-size: 28px;
    color: #22c55e;
}

.text{
    text-align: justify;
    color: #d1d1d1;
    font-size: 14px;
    line-height: 2;
    margin-bottom: 20px;
}

.author{
    display: flex;
    align-items:flex-start;
    gap: 12px;
}

.author img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.author h4{
    color: white;
    font-size: 14px;
    margin-bottom: 2px;
}

.author span{
    font-size: 12px;
    color: #22c55e;
}

@media(max-width:760px){
     .container{
        width: 75%;
    }
    .grid-container{
        grid-template-columns: 2fr;
        width: 100%;
        padding: 10px;
        gap: 10px;
    }
    .cards{
        width: 90%;
        margin: 10px;
    }
    .top-section{
        height: 18rem;
    }
    .bottom-section{
        height: 18rem;
    }
    .plan-type{
        width: 25%;
    }
}