*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
}

:root{
    --bg-color:rgb(17, 17, 17);
    --text-color:#C8F7E3;
    --btn-bg-color:#04925e;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--bg-color);
}

.container{
    max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
}

.container img{
    width:100%;
}

.container h1{
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
}

.emoji{
    font-size: 2.4rem;
}

.container p{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    font-weight: 500;
}

.back-btn{
    padding: 1.2rem 2rem 1.2rem 2rem;
    font-size: 1.3rem;
    border-radius: 10px;
    border: none;
    background-color:var(--btn-bg-color);
    transition: transform 0.25s ease,box-shadow 0.25s ease;
    cursor: pointer;
    color: var(--text-color);
    font-weight: 600;
    box-shadow:
        0 6px 15px rgba(4, 146, 94, 0.35),
        0 2px 4px rgba(0, 0, 0, 0.35);
}

.back-btn i{
    transition: transform 0.2s ease;
    padding-right: 10px;
}

.back-btn:hover{
    transform: translateY(-3px);
    box-shadow:
    0 10px 25px rgba(4, 146, 94, 0.45),
    0 4px 8px rgba(0, 0, 0, 0.4);
}

.back-btn:active{
    transform: translateY(0);
}
